body {
    background-color: aqua;
    color: aqua;
}

.headLine {
    display: flex;
    padding: 1em;
}

.ingredients {
    justify-content: left;
    padding-left: 3em;
    padding-bottom: 1.5em;
 
}

.howTo {
    justify-content: left;
    padding-left: 3em;
    padding-bottom: 3em;
}

.steps {
    justify-content: left;
    padding: 0%;
    margin: 0%;
}

.search {
    padding: 5em;
}