/* You can add global styles to this file, and also import other style files */
body {
    border-style: solid;
    margin: 0;
    border-width: 0.5em;
    border-color: darkcyan;
    height: 100%;
    padding-left: 1em;
    border-radius: 25px;

}